<button nz-button [nzType]="'primary'" (click)="showModal()"><span>New Type</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Day Off Type" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <input nz-input placeholder="content" [(ngModel)]="name" required />
</nz-modal>
<nz-table #nzTable [nzData]="data">
  <thead>
    <tr>
      <th nzCustomFilter>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>
        <button nz-button [nzType]="'primary'" (click)="showModal1(data)"><span>Edit</span></button>
        <nz-modal [(nzVisible)]="isVisible1" nzTitle="Edit Day Off Type" (nzOnCancel)="handleCancel1()"
          (nzOnOk)="handleOk1(dayOffType)">
          <input *ngIf="dayOffType" nz-input placeholder="{{dayOffType.name}}" [(ngModel)]="dayOffType.name" />
        </nz-modal>
      </td>
    </tr>
  </tbody>
</nz-table>