<h1 style="color: #40a9ff">
  CATEGORY
</h1>

<nz-table #editRowTable nzBordered [nzData]="data">
        <thead>
          <tr>
            <th nzWidth="15%">ID</th>
            <th nzWidth="25%">Name</th>
            <th nzWidth="35%">Category</th>
            <th nzWidth="15%" routerLink="/">More</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data">
            <td>
              <ng-container >
                {{ data.id }}
              </ng-container>
            </td>
            <td>
              <ng-container >
                {{ data.name }}
              </ng-container>
            </td>
            <td>
              <ng-container >
                {{ data.categories.name }}
              </ng-container>
            </td>
            <td>
              <a>More</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
