<div nz-row>
  <div nz-col nzSpan="16">
    <nz-card style="width:100%;">
      <diV class="div-item">
        <div nz-row>
          <div nz-col nzSpan="8">
            <span><h4>*Request type:</h4> </span>
          </div>
          <div nz-col nzSpan="16">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select a request type"
              [(ngModel)]="selectedRequestType"
              style="width: 100%;"
            >
              <nz-option
                *ngFor="let requestType of requestTypes"
                nzLabel="{{ requestType.name }}"
                nzValue="{{ requestType.id }}"
              ></nz-option>
            </nz-select>

            <p
              class="validate"
              [ngStyle]="{
                display: validateScope.requestType ? 'block' : 'none'
              }"
            >
              Request type is error
            </p>
          </div>
        </div>
      </diV>

      <diV class="div-item">
        <div nz-row>
          <div nz-col nzSpan="8">
            <span><h4>*Description:</h4> </span>
          </div>
          <div nz-col nzSpan="16">
            <textarea rows="4" nz-input [(ngModel)]="description"></textarea>
            <p
              class="validate"
              [ngStyle]="{
                display: validateScope.description ? 'block' : 'none'
              }"
            >
              Description is error
            </p>
          </div>
        </div>
      </diV>

      <diV class="div-item">
        <div nz-row>
          <div nz-col nzSpan="8">
            <span><h4>*Day request:</h4> </span>
          </div>
          <div nz-col nzSpan="16">
            <nz-date-picker
              [nzRenderExtraFooter]="footerRender"
              [(ngModel)]="selectedDate"
              style="width: 100%;"
            ></nz-date-picker>

            <p
              class="validate"
              [ngStyle]="{
                display: validateScope.selectedDate ? 'block' : 'none'
              }"
            >
              Day request is error
            </p>
          </div>
        </div>
      </diV>

      <button nz-button nzType="danger" (click)="onClickSendRequest()">
        Send request
      </button>
    </nz-card>
  </div>
  <div nz-col nzSpan="8">col-12</div>
</div>
