nz-date-picker,
nz-month-picker,
nz-range-picker,
nz-week-picker {
  margin: 0 8px 12px 0;
}
.ant-input-group-wrapper{
  width: 350px;
}

.ant-modal{
  height: 650px;
}
.ant-btn-circle, .ant-btn-circle-outline {
  float: right;
}
