<h1>
  REQUEST TIME OFF
</h1>

<div nz-row class="data">
  <div nz-col nzSpan="12" style="padding-right: 20px;">
    <div class="form-show">
      <nz-table #detailTable nzShowSizeChanger>
        <thead>
          <tr>
            <th>Name</th>
            <th>Create At</th>
            <th>Start Day</th>
            <th>End Day</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of detailTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.createAt }}</td>
            <td>{{ data.dayStartOff }}</td>
            <td>{{ data.dayEndOff }}</td>
            <td>{{ data.description }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div class="form-request">
  <div nz-col nzSpan="12">
      <form nz-form [nzLayout]="'inline'" [formGroup]="requestForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
        <nz-form-item>
          <label style="padding-right: 20px;"><br />Day Start: </label>
          <span></span>
          <nz-date-picker formControlName="dayStartOff" class="form-control" [nzFormat]="dateFormat"></nz-date-picker>
          <br />
        </nz-form-item>
      </div>
        <br />
        <div class="form-group">
        <nz-form-item>
          <label style="padding-right: 22px;"><br />Day End: </label>
          <nz-date-picker formControlName="dayEndOff" class="form-control" [nzFormat]="dateFormat"></nz-date-picker>
          <br />
        </nz-form-item>
        </div>
        <br />
        <div class="form-group">
        <label style="padding-right: 22px;">Type : </label>
        <nz-form-item style=" margin-left: 80px; width: 355px; margin-top: 3px;">
          <nz-select formControlName="dayOffType" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select Type Of Day Off" nzAllowClear>
            <!-- <nz-option nzValue= 0 nzLabel="Get Sick"></nz-option> -->
            <nz-option *ngFor="let type of types" [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
        </nz-form-item>
      </div>
        <br />
        <div class="form=form-group">
        <nz-form-item>
          <label style="padding-right: 10px;"><br />Comments: </label>
          <input nz-input formControlName="description" />
        </nz-form-item>
        </div>
        <div class="form-group">
        <button nz-button nzType="primary">
          Submit
        </button>
        </div>
      </form>
    </div>
  </div>
</div>