<nz-select [(ngModel)]="selectedValue" [compareWith]="compareFn" (ngModelChange)="log($event)" nzAllowClear
  nzPlaceHolder="Choose">
  <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label" (onchange)="log($event)">
  </nz-option>
</nz-select>
<nz-collapse [nzBordered]="false">
  <nz-collapse-panel *ngFor="let user of users" [nzHeader]="user.email" (click)="getDayOffByUser(user.id)"
    [nzActive]="false">
    <div *ngIf="checkData(data); else showTable">
      <nz-empty></nz-empty>
    </div>
    <ng-template #showTable>
        <thead>
          <tr>
            <th nzCustomFilter>ID</th>
            <th>Day Start Off</th>
            <th>Day End Off</th>
            <th>Description</th>
            <th>Enable</th>
            <th>Accept</th>
            <th>Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.dayStartOff | date:'dd/MM/yyyy'}}</td>
            <td>{{ data.dayEndOff | date:'dd/MM/yyyy' }}</td>
            <td>{{ data.description }}</td>
            <td>
              <div *ngIf="data.status.name=='PENDING'">
                <b style="color: darkorange;">Pending</b>
              </div>
              <div *ngIf="data.status.name=='APPROVED'">
                <b style="color:forestgreen;">Approved</b>
              </div>
              <div *ngIf="data.status.name=='REJECTED'">
                <b style="color:maroon;">Rejected</b>
              </div>
            </td>
            <td>
              <button nz-button [nzType]="'primary'" (click)="showModalDayOff(data)"
                [disabled]="!checkStatus(data.status.name)"><span>Accept</span></button>
            </td>
            <td>
              <button nz-button [nzType]="'danger'" (click)="reject(data)"
                [disabled]="!checkStatus(data.status.name)"><span>Reject</span></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-template>
  </nz-collapse-panel>
