<div class="title-skills" nz-row>
  <h1 nz-col nzSpan="21"><strong>Skills</strong></h1>
  <button
    id="btn-show-edit-skill"
    routerLink="edit"
    nz-tooltip
    nzTooltipTitle="Edit skills"
    nz-col
    nzSpan="3"
    nz-button
    nzType="primary"
    [style.display]="isUserLogin ? 'block' : 'none'"
  >
    +
  </button>
</div>
<nz-card class="title-skills" nz-row style="margin-top: 20px;">
  <nz-tag *ngFor="let skill of skills" [nzColor]="'#001429'">
    <strong>{{ skill.name }}</strong>
  </nz-tag>
</nz-card>
