.form-show {
    border: 1px solid #0000006b;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.bo-tron {
    border-top: 2px solid #0000006b;
    border-bottom: 2px solid #0000006b;
    border-right: 2px solid #0000006b;
}