.img-user {
    max-width: 150px;
}

#input-search {
  width: 300px;
  float: right;
}
#btn-search {
  cursor: pointer;
}
#btn-reset-data {
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
  cursor: pointer;
}