<body>
  <div class="limiter">
    <div class="container-login">
      <div class="wrap-login">
        <div class="login-form-title" style="background-image: url('assets/images/bg-01.jpg');">
          <span class="login-form-title-1">
            Sign In
          </span>
        </div>

        <form class="login-form validate-form">
          <div class="flex-sb-m w-full p-b-30">
            <a id="google-button" class="btn btn-block btn-social btn-google" style="cursor: pointer;">
              <i class="fa fa-google"></i> Sign in with Google
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>