<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    *ngIf="isLogged()"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Helpdesk OpenWeb Technology</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        *ngIf="isAdminLoggin"
        nz-submenu
        nzOpen
        nzTitle="Admin"
        nzIcon="dashboard"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/day-offs">Day Off</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/day-off-types">Day Off Type</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/skills">Skill</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/categories">Category</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/users">Users</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/requests">Request</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/request-types">Request Type</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a (click)="profile()">Profile</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/requests">Request</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Day Off</a>
          </li>
        </ul>
      </li>

      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="isLogged()">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
