button {
  margin-right: 8px;
}

//.ant-btn-circle, .ant-btn-circle-outline {
//  float: right;
//}
.ant-input-group {
  float: right;
  width: 50%;
}
.ant-input-group {
  width: 50%;
}
.editable-row-operations a {
  margin-right: 8px;
}
