
<body>
  <div class="limiter">
    <div class="container-login">
      <div class="wrap-login">
        <div class="login-form-title" style="background-image: url('assets/images/bg-01.jpg');">
          <span class="login-form-title-1">
            Sign In
          </span>
        </div>

        <form class="login-form validate-form">       
          <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
              <div class="form-group">
            <span class="label-input100">Email</span>
            <input class="input100" type="text" placeholder="Enter email">
            <span class="focus-input100"></span>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>   
        </div>
          
          <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
            <div class="form-group">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" placeholder="Enter password">
            <span class="focus-input100"></span>
            
          </div>
        </div>

          <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
              <ul class="socials">
                <a><i class="fa fa-google-plus-square" style="font-size:40px ;color:#e72734; cursor: pointer;" id="googleBtn"></i> </a>
            </ul>
            </div>

            <div>
              <a href="#" class="txt1">
                Forgot Password?
              </a>
            </div>
          </div>

          <div class="container-login-form-btn">
            <button [disabled]="loading" class="login-form-btn">
              Login
            </button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        </form>
      </div>
    </div>
  </div>
</body>