#btn-show-edit-skill {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 23px;
  border: black;
  background-color: #001429;
}
nz-tag {
  margin-top: 8px;
}
nz-card {
  margin-top: 20px;
}
nz-select {
  width: 100% !important;
}
#btn-up-skills {
  float: right;
  margin-top: 18px;
  //border: black;
  //background-color: #001429;
}
