<div class="title-skills" nz-row>
  <h1 nz-col nzSpan="21"><strong>Edit skills</strong></h1>
  <button
    id="btn-show-edit-skill"
    nz-tooltip
    nzTooltipTitle="Save skills"
    nz-col
    nzSpan="3"
    nz-button
    nzType="primary"
    (click)="onSaveSkills()"
  >
    <i nz-icon nzType="save" nzTheme="outline"></i>
  </button>
</div>

<nz-card class="list-skills" nz-row>
  <h3><strong>All skills</strong></h3>
  <nz-tag
    (nzOnClose)="onCloseTagSkill(skill)"
    nzMode="closeable"
    [nzColor]="'#001429'"
    *ngFor="let skill of skills"
  >
    <strong>{{ skill.name }}</strong>
  </nz-tag>
</nz-card>

<nz-card class="list-skills">
  <h3><strong>Add new skills</strong></h3>
  <div nz-row>
    <nz-form-label [nzSpan]="5" nzFor="address">*Categories</nz-form-label>
    <nz-form-control [nzSpan]="19">
      <nz-select
        style="width: 100%;"
        [(ngModel)]="selectedCategory"
        (ngModelChange)="changeCategories($event)"
        nzPlaceHolder="Categories skill"
        (ngModelChange)="onChangeValidate()"
        required
      >
        <nz-option
          *ngFor="let category of categories"
          [nzValue]="category"
          [nzLabel]="category.name"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </div>
  <div nz-row>
    <nz-form-label [nzSpan]="5" nzFor="address">*Skill</nz-form-label>
    <nz-form-control [nzSpan]="19">
      <nz-select
        [(ngModel)]="listOfTagOptions"
        nzMode="tags"
        [nzTokenSeparators]="[',']"
        nzPlaceHolder="List of skill"
        (ngModelChange)="onChangeValidate($event)"
        required
      >
        <nz-option
          *ngFor="let skill of listSkillFollowCategories"
          [nzLabel]="skill.name"
          [nzValue]="skill"
          maxlength="10"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </div>
  <div nz-row>
    <nz-form-control [nzSpan]="24">
      <button
        nz-button
        nzType="primary"
        id="btn-up-skills"
        (click)="onClickUpSkills(template)"
        [disabled]="!validateForm"
      >
        Up skills
      </button>
    </nz-form-control>
  </div>
</nz-card>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"
        ><i nz-icon nzType="frown" nzTheme="outline" style="color: red;"></i
      ></span>
      <div class="ant-notification-notice-message">Notification</div>
      <div class="ant-notification-notice-description">
        {{ notifitionText }}
      </div>
    </div>
  </div>
</ng-template>
